/* VARIABLES COLOR */
:root{
    --soft-red: hsl(0, 94%, 66%);
    color: var(--soft-blue, hsl(231, 69%, 60%));
    color: var(--grayish-blue, hsl(229, 8%, 60%));
    color: var(--very-dark-blue, hsl(229, 31%, 21%));
}


.small-content{
    margin: auto;
    width: 70%;
}
body{
    font-family: "Rubik", sans-serif !important;
}
.text-regular{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}
.text-medium{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}
.btn-light-red{
    background-color: var(--soft-red) !important;
    color: #fff !important;
    padding: 5px 24px !important;
}
.btn-light-red:hover{
    background-color: #fff !important;
    border: 2px solid var(--soft-red) !important;
    color: var(--soft-red) !important;
    padding: 4px 23px !important;
}

.opt-links:hover{
    color: var(--soft-red) !important;
}
/* navbar */
.nav-item{
    padding: 0 12px;
}

/* FOOTER */
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }