body{
    font-family: "Rubik", sans-serif !important;
    font-size: 18px !important;
    margin: auto !important;
}
/* VARIABLES COLOR */
:root{
    --soft-red: hsl(0, 94%, 66%);
   --soft-blue: hsl(231, 69%, 60%);
   --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --white: #fff;
}

/* --------------------------USE SAME CLASS ELEMENTS--------------------------- */
/* BACKGROUND */
.bg-light-blue{
 background-color: var(--soft-blue);
}
.bg-dark-blue{
    background-color: var(--very-dark-blue);
}
/*container*/
.small-content{
    margin: auto;
    width: 70%;
}
.tiny-content{
    margin: auto;
    width: 40%;
}
.big-content{
    margin: auto;
}
.container-fluid{
    padding:0 !important;
}
/* text align */
.text-align-cente{
    text-align: center;
}
.text-align-left{
    text-align: left;
}
/* text small content  */
.text-small-content{
    padding: 1.5% 23%;
}
/*h1,h3*/
.text-weight-regular{
    font-family: "Rubik" !important;
    font-weight: 400 !important;

}
.text-weight-medium{
    font-family: "Rubik" !important;
    font-weight: 500 !important;
}
.tiny-title{
    font-size: 14px;
    font-family: "Open Sans" !important;
    font-weight: 600;
    letter-spacing: 4px;
}
/*paragraphs*/
.desc-section{
    color: var(--grayish-blue) !important;
}
/* TEXT COLOR  */
.txt-white{
    color: var(--white) !important;
}
/*item-link*/
.opt-links:hover{
    color: var(--soft-red) !important;
}
.nav-pills .nav-link.active{
    background-color: var(--white) !important;
    border-bottom: 2px solid var(--soft-red) ;
    border-radius: 0;
    color: var(--very-dark-blue) !important;
}

/*buttons*/
.btn-light-red,
.btn-blue,
.btn-gray{
    padding: 5px 24px !important;
}
.btn-light-red{
    background-color: var(--soft-red) !important;
    color: var(--white) !important;
}
.btn-light-red:hover{
    background-color: var(--white) !important;
    border: 2px solid var(--soft-red) !important;
    color: var(--soft-red) !important;
    padding: 4px 23px !important;
}
.btn-blue{
    background-color: var(--soft-blue) !important;
    color: var(--white) !important;
}
.btn-blue:hover{
    background-color: var(--white) !important;
    border: 2px solid var(--soft-blue) !important;
    color: var(--soft-blue) !important;
}
.btn-gray{
    color: var(--very-dark-blue);
}
.btn-gray:hover{
    background-color: var(--white) !important;
    border: 2px solid var(--very-dark-blue) !important;
    color: var(--very-dark-blue) !important;
}

/* MARGIN */
.mg-3-perc{
    margin: 4% auto;
}

/* PADDING */
.pd-top-6-perc{
    padding-top: 6%;
}
.pd-top-15-perc{
    padding-top: 15%;
}
/* HIDE ELEMENTS */
.hide-elements{
    display: none;
}

/* col- */
.content-left{
    padding-right: 5% !important;
    padding-left: 1.5% !important;
}
.content-right{
    padding-left: 6% !important;
}

/* IMAGE */
.img-section{
    position: relative;
    width: 90%;
}
.img-dots{
    width: 100%;
    margin: 10% 0;
}
#questions img{
    float: right !important;
}
.svg{
    transform: rotate(180deg);
    /* filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(356deg) brightness(91%) contrast(135%); */
    filter: invert(70%) sepia(81%) saturate(7227%) hue-rotate(-3deg) brightness(123%) contrast(160%);
}


/* BORDER */
.card{
    border: 1px solid rgba(0,0,0,.03) !important;
    border-radius: 10px !important;
}
/* SHADOW */
.shadow{
    box-shadow: 0 1rem 1rem rgb(0, 0, 0,.15) !important;
}

/* BACKGROUND SHAPES */
.shape {
    height: 250px;
    width: 350px;
    background-color: var(--soft-blue);
    border-radius: 80px;
    margin-bottom: 30px;
    float: right;
    right: 20%;
    margin-right: 20px;
    position: absolute;
}
.shape2 {
    float: right;
    border-radius: 0;
    right: 15%;
    position: absolute;

}
.shape-position{
      top: 320px;
}
.shape-position-sb{
    top: 950px;
}
.shape-fe{
    height: 315px;
    width: 350px;
    background-color: var(--soft-blue);
    border-radius: 80px;
    margin-bottom: 30px;
    float: right;
    left: 17%;
    margin-right: 20px;
    position: absolute;
}
.shape-fe2{
    float: right;
    border-radius: 0;
    left: 11%;
    position: absolute;
}

/* ERROR msg  input*/
.invalid-tooltip{
    width: 67%;
}
/* --------------------------SPECIFIC CLASS ELEMENTS--------------------------- */

/* navbar */
.nav-item{
    padding: 0 12px;
}
/* SECTION 1 - BOOKMARK */
#bookmark{
    position: static;
}

/* SECTION 2 */
#features a{
    color: var(--grayish-blue);
}

/* SECTION 3 */
#extension .row{
    margin: auto;
    width: 70%;
}
.card-two{
    margin-top: 55px;
}
.card-three{
    margin-top: 100px;
}

/* SECTION 4 - QUESTIONS*/
.question{
    color: var(--very-dark-blue);
    text-decoration: none;
}

/* SECTION 5 - JOIN */
#join{
    margin-top: 4%;
}
#join .tiny-content{
    padding: 5% 1%;
}
#join .row{
    margin: auto;
    width: 75%;
}
#join input::-webkit-input-placeholder{
    opacity: 0.5;
}
#join input{
    padding: 3% 5%;
}
#join button{
    padding: 8% 15% !important;
    margin: auto;
}
#join .col-md-4, #join .col-md-8{
    padding: 0 !important;
    margin: 0;
}

/* SECTION 6 - CONTACT */
.contact{
    padding: 2% 15%!important;
}
.contact.row{
    margin: 0 !important;
}
#contact a{
    color: var(--white);
    text-transform: uppercase;
}
#contact .nav-item a {
    font-size: 13px !important;

}
.fa-ul{
   width: 100%;
}

/* FOOTER */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*MOBILE*/
@media (max-width: 1024px) and (min-width: 770px){
    body{
        margin: auto !important;
        text-align: center !important;
    }
    .small-content{
        margin: 8% 0;
        width: 100%;
    }

    .text-small-content{
        padding: 1.5% 10%;
    }
    .img-section{
        width: 80%;
    }
    .tiny-content,
    .container,
    .container-fluid{
        width: 90% !important;
    }
    
    
    
    .shape {
        height: 150px;
        width: 150px;
        right: 17%;
    }
    .shape2 {
        right: 10%;
    }
    .shape-position{
          top: 260px;
    }
    .shape-position-sb{
        top: 890px;
    }
    .shape-fe{
        height: 215px;
        width: 240px;
        left: 15%;
    }
    .shape-fe2{
        left: 4%;
    }

}
@media (max-width: 770px){
    .small-content, .tiny-content{
        text-align: center;
        margin: auto !important;        
        width: 90%;
    }
    .text-small-content{
        padding: 0 !important;
    }
    #bookmark button{
        padding: 3% !important;
    }

    #features .text-small-content,
    #questions .text-small-content{
        padding: 0 !important;
    }
    #features .content-right{
        margin-top: 15% !important;
    }
    #questions .row{
        text-align: left;
        padding-left: 7%;
    }
    .mg-id-div{
        margin: 15% auto !important;
    }
    .card-three{
        margin-top: 55px;
    }
    .shape2 {
        right: 10%;
    } 
    .shape-fe2{
        left: 0;
    }
    .shape-position{
        top: 552px;
    }
    .shape-position-sb{
        top: 1229px;
    }
 
    
}


@media (max-width: 375px){
  
    #questions .row{
        padding: 0;
    }
    #contact .col-md-9 .nav{
        width: min-content !important;
        margin: auto !important;
        text-align: center !important;
        padding-left: reverse;
    }
    #join input{
        width: auto !important;
    }
    #join button{
        width: 291% !important;
    }
    .fa-ul{
        margin-left: 0 !important;
    }
    .navbar-collapse
    {
        background-color:rgba(0, 0, 0, 0.664);
        
    }
    #header a{
        color: var(--white) !important;
    }

        /* BACKGROUND SHAPES */
    .shape {
        height: 139px;
        width: 140px;
        background-color: var(--soft-blue);
        border-radius: 80px;
        margin-bottom: 30px;
        float: right;
        right: 25%;
        margin-right: 20px;
        position: absolute;
    }
    .shape2 {
        float: right;
        border-radius: 0;
        right: 5%;
        position: absolute;

    }
    .shape-position{
          top: 167px;
    }
    .shape-position-sb{
        top: 1038px;
    }
    .shape-fe{
        height: 155px;
        width: 160px;
        background-color: var(--soft-blue);
        border-radius: 80px;
        margin-bottom: 30px;
        float: right;
        left: 27%;
        margin-right: 20px;
        position: absolute;
    }
    .shape-fe2{
        float: right;
        border-radius: 0;
        left: 4%;
        position: absolute;
    }
    .invalid-tooltip{
        width: 100%;
    }
}














@media (max-width: 780px) {
  
    .overlay {
      height: 100%;
      width: 100%;
      display: none;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
      background-color: rgba(34, 34, 48, 0.9);
    }
    
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px !important;
      color: #f8f7f7 !important;
      display: block;
      transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1 !important;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }

    .toggleWhite{
        color: var(--white) !important;
        width: 95%;
        margin: 5% auto;
    }
    #navbarNav img{
        margin: auto;
        width: 65%;
    }
    .btn-toggle-transp{
        background-color: rgba(255, 255, 255, 0) !important;
        border: 2px solid white !important;
        padding: 8px auto !important;
        height: 60px;
        width: 90%;
    }
  }
  
/*     
    @media screen and (max-height: 450px) {
     
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    } */